<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="container">
        <%- include('includes/header.ejs') %>
        <div class="row">
            <div class="col-md-12">
                <h1>Page Not Found!</h1>
            </div>
        </div>
    </div>
    <%- include('includes/footer.ejs') %>